

        /* Add custom styles here */
        
        body {
            background-color: grey;
        }
        .navbar {
            background-color: #343a40;
        }
        .jumbotron {
            background-color: grey;
        }
        
        /* Custom CSS for hover effect */
        
        /* Custom CSS for hover effect on div */
        
       
